
<h1><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Angular 17</a></h1>
<nav>
  <ul>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a></li>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a></li>
    <li><a routerLink="/pageNotFound" routerLinkActive="active" ariaCurrentWhenActive="page">Page-not-found Component</a></li>
  </ul>
</nav>
<!-- người bảo vệ đứng đây chỉ đường khi người ta tới -->
<router-outlet></router-outlet>