<div class="test">
  <h3>Day la component home</h3>
  <h1>Trái cây</h1>

  <!-- <table class="table2">
    <tbody>
      <tr>
        <th>Thứ tự</th>
        <th>Tên</th>
        <th>Gía</th>
        <th>Đại hạ giá</th>
      </tr>
      <tr *ngFor="let trai of traiCay2; let i = index" class="center">
        <td>{{ i + 1 }}</td>
        <td>{{ trai.ten |uppercase }}</td>
        <td>
          <span [ngClass]="{ so_am: trai.gia < 0 }">{{ trai.gia | currency: 'VND' : 'symbol' : '1.2' }}</span>
        </td>
        <td>    
          <span>{{trai.haGia | onSale | uppercase}}</span>
        </td>
      </tr>
    </tbody>
  </table> -->
  Tỉnh / Thành Phố:
  <select name="" id="city" (change)="changeCity($event)">
    <option *ngFor="let data of vietNamData" value="{{ data.city }}">
      {{ data.city }}
    </option>
  </select>
  <br />
  Quận / Huyện:
  <select name="" id="district">
    <option *ngFor="let district of districts" value="district">
      {{ district }}
    </option>
  </select>
</div>
