<div class="test">
  <h3>Day la component home</h3>
  <h1>Trái cây</h1>

  <table class="table2">
    <tbody>
      <tr>
        <th>Thứ tự</th>
        <th>Tên</th>
        <th>Gía</th>
        <th>Đại hạ giá</th>
      </tr>
      <tr *ngFor="let trai of traiCay2; let i = index" class="center">
        <td>{{ i + 1 }}</td>
        <td>{{ trai.ten |uppercase }}</td>
        <td>
          <!-- ngClass khi chay no se xet cai class cua minh bang dieu kien ben trong -->
          <span [ngClass]="{ so_am: trai.gia < 0 }">{{ trai.gia | currency: 'VND' : 'symbol' : '1.2' }}</span>
        </td>
        <td>
          <!-- Sử dụng ng generate pipe OnSale để tạo một cái OnSale định dạng dữ liệu cho haGia
          nó sẽ tạo ra 2 cái file on-sale.pipe.ts và on-sale.pipe.spect.ts
          Đơn giản là ta tạo 1 cái pipe riêng và khi dùng thì ta chỉ cần kêu pipe ơi t bỏ value vô ống đó và 
          cái đầu kia nó ra gì là tùy theo khách hàng
          -->
          <span>{{trai.haGia | onSale | uppercase}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
